@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 126rem;
}

.serif {
  font-family: 'Oranienbaum', serif;
}
.sans {
  font-family: 'Quicksand', sans-serif;
}
.mono {
  font-family: monospace;
}
.line:before {
  content: '';
  position: absolute;
  width: 120em;
  height: 100px;
  border-bottom: 3.5px solid #ca0130;
  background: radial-gradient(circle, #00b5a9 70%, #ffffff00);
  top: -97px;
  border-top-left-radius: 15em;
}
.lineBottom:before {
  content: '';
  position: absolute;
  width: 60em;
  height: 600px;
  border-top: 3.5px solid #ca0130;
  background-color: #00b5a9;
  top: 0em;
}
.lineBlock::before {
  content: '';
  position: absolute;
  width: 40em;
  height: 3px;
  background-color: #ca0130;
  top: -3px;
}

.lineBlockBottom::before {
  content: '';
  position: absolute;
  width: 120em;
  border-bottom: 3.5px solid #ca0130;
  background-color: #00b5a9;
  left: 70em;
}
.clipper {
  clip-path: inset(-200px 0 0);
}
