@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 126rem;
}

.serif {
  font-family: 'Oranienbaum', serif;
}
.sans {
  font-family: 'Quicksand', sans-serif;
}
.mono {
  font-family: monospace;
}
.line:before {
  content: '';
  position: absolute;
  width: 120em;
  height: 3px;
  background-color: #ca0130;
  top: 0em;
}
.lineBlock::before {
  content: '';
  position: absolute;
  width: 40em;
  height: 3px;
  background-color: #ca0130;
  top: -3px;
}

.lineBlockBottom::before {
  content: '';
  position: absolute;
  width: 69.5em;
  height: 3px;
  background-color: #ca0130;
  top: 0;
  left: 120em;
}
